<!DOCTYPE html>
<html>
<head>
  <title>StarTrekResources</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'lcars', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <style>
    @font-face {
         font-family: 'lcars_font';
         src: url('/assets/Helvetica_Ultra_Compressed.woff') format('woff'),
              url('/assets/Helvetica_Ultra_Compressed.ttf') format('truetype');
    }
    html, body {
      background: black;
      font-family:'lcars_font';
      text-transform: uppercase;
    }
    table td {
      padding-right: 40px;
    }
  </style>

  
</head>
<body>

  <div class="lcars-container">

    <!-- TOP ROW
    =========================================================== -->
    <div class="lcars-row spaced">

      <!-- TOP LEFT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow left bottom lcars-blue-bg">
        <a href="#">LCARS 40274</a>
      </div>

      <!-- TOP DIVIDER AND BUTTONS
      =========================================================== -->
      <div class="lcars-column u-6-8 lcars-divider lcars-blue-tan-divide">
        <div class="lcars-row">
          <div class="lcars-column u-1-2">
          <h3 id="notice" class="left"><%= notice %>&nbsp;</h3>
          </div>
          <div class="lcars-column u-1-2">
          <h2 class="right">replicator unit 1489</h2>
          </div>
        </div>
      </div>

      <!-- TOP RIGHT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow right bottom lcars-tan-bg">
        <a href="#">01-838482</a>
      </div>
    </div>

    <div class="lcars-row">

      <!-- RIGHT MENU
      =========================================================== -->
      <div class="lcars-column u-1-8">
        <ul class="lcars-menu">
          <li class="lcars-blue-bg"><a href="#">02-854598</a></li>
          <li class="lcars-blue-bg tall large-gap">03-875883</li>
          <li class="lcars-tan-bg">04-785468</li>
          <li class="lcars-tan-bg tall">05-234298</li>
          <li class="lcars-tan-bg tall">06-938373</li>
        </ul>
      </div>

      <!-- CENTER SECTION
      =========================================================== -->
      <div class="lcars-column u-6-8">
        <div class="lcars-row" style="font-size: 150%">

           <%= yield %>

         </div>
      </div>

      <!-- LEFT MENU
      =========================================================== -->
      <div class="lcars-column u-1-8">
        <ul class="lcars-menu right">
          <li class="lcars-tan-bg"><a href="#">02-092092</a></li>
          <li class="lcars-tan-bg tall large-gap">03-020303</li>
          <li class="lcars-blue-bg">04-210092</li>
          <li class="lcars-blue-bg tall">05-737110</li>
          <li class="lcars-blue-bg tall">06-211912</li>
        </ul>
      </div>
    </div>

    <!-- BOTTOM ROW
    =========================================================== -->
    <div class="lcars-row spaced">

      <!-- BOTTOM LEFT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow left top lcars-tan-bg">
        <a href="#">07-524489</a>
      </div>

      <!-- BOTTOM DIVIDER AND BUTTONS
      =========================================================== -->
      <div class="lcars-column u-6-8 lcars-divider bottom lcars-tan-blue-divide">
        <div class="lcars-row">
          <div class="lcars-column u-1-2">
          </div>
          <div class="lcars-column u-1-2">
          </div>
        </div>
      </div>

      <!-- BOTTOM RIGHT ELBOW
      =========================================================== -->
      <div class="lcars-column u-1-8 lcars-elbow right top lcars-blue-bg">
        <a href="#">07-123123</a>
      </div>
    </div>

  </div>

</body>
</html>
